@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/** ===== 自定义区域 ===== **/

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111729;
  }
}

/** 删除超链接下划线 **/

.prose :where(a):not(:where([class~='not-prose'] *)) {
  text-decoration: none;
}

/** 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 **/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/** 定义滚动条轨道 **/

::-webkit-scrollbar-track {
  background-color: rgb(209, 209, 209, 0.5);
}

/** 定义滑块 **/

::-webkit-scrollbar-thumb {
  background-color: #184c77;
}

.navbartrans {
  transition: border-color 0;
}

* {
  transition: background-color 0.15s ease-in-out;
}

/** 替代引用 **/

.poet {
  font-style: italic;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/** FontAwesome 右侧增加空档 **/

.svg-inline--fa {
  padding-right: 0.2rem;
}

/** 修改引用 **/

.prose :where(blockquote):not(:where([class~='not-prose'] *)) {
  font-weight: 500;
  font-style: normal;
  color: #0f172a;
  border-left-width: 0.25rem;
  border-left-color: rgba(135, 212, 249);
  quotes: none;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
