@import './custom.css';
@import './postlist.css';
@import './Link.css';
@import './article.css';

/* Font and heading size*/

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/InterDisplay-roman.var.woff2) format('woff2');
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1,
    'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.005em;
  background-color: #fcfcfc;
}

h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 600;
}
h2 {
  font-variation-settings: 'wght' 600;
  letter-spacing: -0.015em;
}
h1 {
  font-variation-settings: 'wght' 650;
  letter-spacing: -0.02em;
}

/* Overall width */

@media screen and (max-width: 480px) {
  article {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Background color */

html[class~='dark']
  .dark\:nx-prose-dark
  :where(pre):not(:where([class~='nx-not-prose'] *)) {
  background-color: #212424 !important;
}

html.dark body {
  background-color: #18181a;
}

/* Lines */

.dark .dark\:prose-dark hr {
  border-color: #4b4f50;
}

.dark .dark\:prose-dark ul > li::before {
  background-color: #4b4f50;
}
