/*=========================*/
/*  Font and heading size  */
/*=========================*/

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/InterDisplay-roman.var.woff2) format('woff2');
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1,
    'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.005em;
  background-color: #fcfcfc;
}

h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 600;
}
h2 {
  font-variation-settings: 'wght' 600;
  letter-spacing: -0.015em;
}
h1 {
  font-variation-settings: 'wght' 650;
  letter-spacing: -0.02em;
}

/*=========================*/
/*      Overall width      */
/*=========================*/

@media screen and (max-width: 480px) {
  article {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*=========================*/
/*    Background color     */
/*=========================*/

html[class~='dark']
  .dark\:nx-prose-dark
  :where(pre):not(:where([class~='nx-not-prose'] *)) {
  background-color: #212424 !important;
}

html.dark body {
  background-color: #18181a;
}

/*=========================*/
/*         Lines           */
/*=========================*/

.dark .dark\:prose-dark hr {
  border-color: #4b4f50;
}

.dark .dark\:prose-dark ul > li::before {
  background-color: #4b4f50;
}

/*=========================*/
/*      Link Behavior      */
/*=========================*/

*::selection {
  background: #95a5ac40;
}

a,
.prose a {
  text-underline-position: from-font;
  text-decoration-skip-ink: all;
  text-decoration-color: #a5adb1;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  transition: opacity 0.2s ease;
}

.md\:nx-prose :where(a):not(:where([class~='nx-not-prose'] *)):hover {
  opacity: 0.7;
}

/*=========================*/
/*        Post List        */
/*=========================*/

.post-link {
  align-items: baseline;
  display: flex;
  color: inherit;
  text-decoration: none !important;
}

.post-title {
  margin: 0.3rem 1rem;
  margin-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  flex-grow: 1;
}

.date {
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1, 'tnum' 1, 'calt' 1;
  color: rgb(156, 163, 175);
  flex-shrink: 0;
}

/*=========================*/
/*      Article Style      */
/*=========================*/

.md\:nx-prose {
  color: #313233;
  font-variation-settings: 'wght' 450;
  line-height: 1.6;
  word-spacing: -0.04em;
  max-width: 40rem;
}

.md\:nx-prose :where(a):not(:where([class~='nx-not-prose'] *)) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  font-weight: 500;
  text-decoration-thickness: from-font;
  text-decoration-line: underline;
  text-decoration-color: #a5adb1;
}

/*=========================*/
/*         Heading         */
/*=========================*/

.md\:nx-prose :where(h1):not(:where([class~='nx-not-prose'] *)) {
  font-size: 1.6em;
  margin-bottom: 0.4em;
}

b,
strong {
  font-variation-settings: 'wght' 600;
}

/*=========================*/
/*       Code blocks       */
/*=========================*/

.md\:nx-prose :where(code):not(:where([class~='nx-not-prose'] *))::before,
.md\:nx-prose :where(code):not(:where([class~='nx-not-prose'] *))::after {
  content: none;
}

.md\:nx-prose :where(code):not(:where([class~='nx-not-prose'] *)) {
  border: none;
  padding: 2px 4px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
}

article.prose pre code {
  display: inline-block;
  padding: 0;
  color: #545454;
  font-size: 0.9em;
}

.dark article.prose pre code {
  color: #e9e9e9;
}

/*=========================*/
/*         Nav tabs        */
/*=========================*/

article a {
  word-break: break-word;
  /* nx-text-gray-500 */
}

article div div span {
  word-break: break-word;
  /* nx-text-gray-400 */
}

article.prose pre {
  background-color: #f7f7f7 !important;
  letter-spacing: 0;
}

/*=========================*/
/*       Block quote       */
/*=========================*/

html[class~='dark']
  .dark\:nx-prose-dark
  :where(blockquote):not(:where([class~='nx-not-prose'] *)) {
  border-left-color: #4b4f50;
}

/*=========================*/
/*      Inline Summary     */
/*=========================*/

summary:not(:focus-visible):focus {
  outline: none;
}

details summary {
  cursor: pointer;
}

.cc-mark {
  display: block;
  margin-top: 8rem;
}

.cc-cursor {
  cursor: help;
}

/*=========================*/
/*    Custom Components    */
/*=========================*/

.centered {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
}

.navi-top-pad {
  padding-top: 0.5rem;
}

/* Table fix after Nextra 2.0 */

.nx-border {
  border-width: 0px;
}

.nx-block {
  display: table;
}

/* Footer */

.RSS {
  float: right;
}

a[data-footnote-ref] {
  text-decoration: none;
  padding: 0.2rem;
}
