.post-link {
  align-items: baseline;
  display: flex;
  color: inherit;
  text-decoration: none !important;
}

.post-title {
  margin: 0.3rem 1rem;
  margin-left: 0;
  font-size: 1.1rem;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  flex-grow: 1;
}

.date {
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1, 'tnum' 1, 'calt' 1;
  color: rgb(156, 163, 175);
  flex-shrink: 0;
}
